<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="Q" version="1.0.0" targetFramework="net45" />
  <package id="RequireJS" version="2.1.14" targetFramework="net45" />
  <package id="Sammy.js" version="0.7.4" targetFramework="net45" />
</packages>