body{
    background-color:#a07a7a;
    text-align:center;  
}
#game{
    text-align:center;
}
a{
    color:black;
}
#content{
    font-size:larger;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
}

